<div class="graph-panel-heading">
  <div class="row">
    <div class="card-title text-center">
      <h3>Grafieken</h3>
    </div>
  </div>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-12">
      <div class="chart-container">
        <div class="chart-panel-heading">
          <div class="card-title text-center">
            <h3>Resterend budget per maand over het jaar</h3>
          </div>
        </div>
        <canvas id="lineChartRestBudgetPerMonth">{{ restBudgetPerMonthlineChart }}</canvas>
      </div>
    </div>
  </div>
</div>
