<div class="confirmation-modal-header">
  <div class="modal-header-left">
    <h3>Verwijderen</h3>
  </div>
</div>
<div class="confirmation-modal-body">
  Bent u zeker dat u dit item wil verwijderen?
</div>
<div class="confirmation-modal-footer">
  <button class="btn btn-sm btn-primary" type="submit" (click)="confirm()">
    <i class="fa fa-trash"></i> Verwijder
  </button>
  <button class="btn btn-sm btn-secondary" type="button" (click)="close()">
    <i class="fa fa-times-circle"></i> Annuleren
  </button>
</div>
