<div class="no-budget-overview" *ngIf="budgetOverview.length === 0">
  Selecteer eerst een jaartal.
</div>
<div class="budgetOverview-resume" *ngIf="budgetOverview.length > 0">
  <div class="budgetOverview-resume">
    <div class="custom-child-panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-12">
            <div class="card-title text-center">
              <h3>Budgetresultaten</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-4">
            <div class="card total-budget-card">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="budgetOverview-label">Totaal inkomst:</div>
                    <div class="budgetOverview-amount">{{ totalIncome | number:'1.2-2':'be-BE'}} €</div>
                  </div>
                  <div class="col-auto total-budget-icon">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card total-budget-card">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="budgetOverview-label">Totaal vaste kost:</div>
                    <div class="budgetOverview-amount">{{ totalFixedCost | number:'1.2-2':'be-BE'}} €</div>
                  </div>
                  <div class="col-auto total-budget-icon">
                    <i class="fa-solid fa-arrow-trend-down"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card total-budget-card">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="budgetOverview-label">Totaal uitgaven:</div>
                    <div class="budgetOverview-amount">{{ totalOutgoing | number:'1.2-2':'be-BE'}} €</div>
                  </div>
                  <div class="col-auto total-budget-icon">
                    <i class="fa-solid fa-arrow-trend-down"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card end-total-budget-card">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="budgetOverview-label">Eind bedrag:</div>
                    <div class="budgetOverview-amount">{{ totalAmount | number:'1.2-2':'be-BE'}} €</div>
                  </div>
                  <div class="col-auto total-budget-icon">
                    <i *ngIf= "totalAmount > 0" class="fa fa-circle-up"></i>
                    <i *ngIf= "totalAmount < 0" class="fa fa-circle-down"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container>
    <div class="custom-child-panel">
      <nav>
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
          <button class="nav-link active budget-tab" id="nav-index-tab" data-bs-toggle="tab" data-bs-target="#nav-index" type="button" role="tab" aria-controls="nav-index" aria-selected="true">Maandoverzicht</button>
          <button class="nav-link budget-tab" id="nav-graphs-tab" data-bs-toggle="tab" data-bs-target="#nav-graphs" type="button" role="tab" aria-controls="nav-graphs" aria-selected="false">Grafiek</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-index" role="tabpanel" aria-labelledby="nav-index-tab">
          <app-year-index [budgetResultsPerMonth] = budgetResultsPerMonth></app-year-index>
        </div>
        <div class="tab-pane fade" id="nav-graphs" role="tabpanel" aria-labelledby="nav-graphs-tab">
          <app-graphs [budgetResultsPerMonth] = budgetResultsPerMonth
                      [year] = year >
          </app-graphs>
        </div>
      </div>
    </div>
  </ng-container>
</div>
