<ng-container *ngIf="!yearlyBudgetOverview">
  <div class="no-budget-overview">
    Selecteer eerst een jaartal.
  </div>
</ng-container>
<ng-container *ngIf="yearlyBudgetOverview">
  <div class="budgetOverview-resume">
  <div class="budgetOverview-resume">
    <div class="custom-child-panel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-12">
            <div class="card-title text-center">
              <h3>Budgetresultaten</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-8">
                <div class="card resume-card">
                  <div class="card-body">
                    <app-resume [resumeData]= yearResumeData>
                    </app-resume>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <app-project-resume [projectsData] = projectsData></app-project-resume>
              </div>
            </div>
          </div>
          <div class="col-6">
            <app-year-overview-graph [graphData] = graphData>
            </app-year-overview-graph>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container>
    <div class="custom-child-panel">
      <nav>
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
          <button class="nav-link active budget-tab" id="nav-index-tab" data-bs-toggle="tab" data-bs-target="#nav-index" type="button" role="tab" aria-controls="nav-index" aria-selected="true">Maandoverzicht</button>
          <button class="nav-link budget-tab" id="nav-graphs-tab" data-bs-toggle="tab" data-bs-target="#nav-graphs" type="button" role="tab" aria-controls="nav-graphs" aria-selected="false">Grafiek</button>
          <button class="nav-link budget-tab" id="nav-savings-tab" data-bs-toggle="tab" data-bs-target="#nav-savings" type="button" role="tab" aria-controls="nav-savings" aria-selected="false">Sparen</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-index" role="tabpanel" aria-labelledby="nav-index-tab">
          <app-month-overview [budgetsPerMonth] = yearlyBudgetOverview.budgetsPerMonth></app-month-overview>
        </div>
        <div class="tab-pane fade" id="nav-graphs" role="tabpanel" aria-labelledby="nav-graphs-tab">
          <app-graphs [budgetsPerMonth] = yearlyBudgetOverview.budgetsPerMonth
                      [year] = year>
          </app-graphs>
        </div>
        <div class="tab-pane fade" id="nav-savings" role="tabpanel" aria-labelledby="nav-savings-tab">
          <app-savings-year-overview [savingsData] = yearlyBudgetOverview.savingsData>
          </app-savings-year-overview>
        </div>
      </div>
    </div>
  </ng-container>
</div>
</ng-container>
