<ng-container *ngIf="(transactionsState$ | async) as state" [ngSwitch]="state.appState">
  <div class="card my-2">
    <ng-container *ngSwitchCase="'APP_ERROR'">
      <div class="errorPanel">
        <div class="alert alert-danger " role="alert">
          <span>{{ state.error|json }}</span>
        </div>
      </div>
    </ng-container>

    <div class="customPanel">
      <div class="panel-heading">
        <div class="row">
          <div class="card-title text-center">
            <h3>Overzicht transacties per categorie</h3>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="form-wrapper">
          <form #searchForm="ngForm" (ngSubmit)="goToPage(searchForm.value.category, searchForm.value.year)" class="d-flex search-form" role="search">
            <div class="col-4">
              <select
                class="form-select"
                name="category"
                ngModel
                aria-label="search/">
                <option value="" disabled selected>kies een categorie</option>
                <option *ngFor="let cat of categories"
                        [ngValue]="cat.id">{{ cat.label }}</option>
              </select>
            </div>
            <div class="col-3">
              <select
                class="form-select"
                name="year"
                ngModel
                aria-label="search/">
                <option value="" disabled selected>kies een jaartal</option>
                <option *ngFor="let year of years"
                        [ngValue]="year.value">{{ year.year }}</option>
              </select>
            </div>
            <button class="btn" type="submit">Selecteer</button>
          </form>
          </div>
        </div>

      <ng-container *ngSwitchCase="'APP_LOADING'">
        <div class="d-flex justify-content-center mt-4 mb-4">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading ...</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'APP_LOADED'">
        <ng-container>
          <div class="custom-child-panel">
            <nav>
              <div class="nav nav-tabs " id="nav-tab" role="tablist">
                <button class="nav-link active budget-tab" id="nav-index-tab" data-bs-toggle="tab" data-bs-target="#nav-index" type="button" role="tab" aria-controls="nav-index" aria-selected="true">Transacties</button>
                <button class="nav-link budget-tab" id="nav-graphs-tab" data-bs-toggle="tab" data-bs-target="#nav-graphs" type="button" role="tab" aria-controls="nav-graphs" aria-selected="false">Grafiek</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-index" role="tabpanel" aria-labelledby="nav-index-tab">
                <div class="panel-body table-responsive">
                  <table class="customTable table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                      <th>Nummer</th>
                      <th>Datum</th>
                      <th>Commentaar</th>
                      <th>Categorie</th>
                      <th>Bedrag</th>
                      <th><i class="fa fa-pencil"></i></th>
                      <th><i class="fa fa-trash"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let tx of state.appData.data.page.content">
                      <td>{{ tx.number }}</td>
                      <td>{{ tx.date }}</td>
                      <td>{{ tx.comment }}</td>
                      <td><i class="fa {{ tx.category?.icon }}"></i></td>
                      <td>{{ tx.sign }} {{ tx.amount }}</td>
                      <td>
                        <a (click)="editTransaction(tx, searchForm.value.comment)"><i class="fa fa-pencil"></i></a>
                      </td>
                      <td>
                        <a (click)="deleteTransaction(tx.tx_id, searchForm.value.comment)"><i class="fa fa-trash"></i></a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="row" id="pagination">
                    <div class="col-sm-6 pagination-left">
                      toon <b>10</b> van de <b>{{ state.appData.data.page.totalElements }}</b> items
                    </div>
                    <div class="col-sm-6 pagination-right">
                      <ul class="pagination">
                        <li class="page-item pointer" [ngClass]="0 == (currentPage$ | async) ? 'disabled' : '' ">
                          <a (click)="goToNextOrPreviousPage('backward', searchForm.value.year)" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Vorige</span>
                          </a>
                        </li>
                        <li *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages) let i = index"
                            class="page-item pointer" [ngClass]="i == (currentPage$ | async) ? 'active' : '' ">
                          <a (click)="goToPage(searchForm.value.year, '',i)" class="page-link"> {{ i + 1 }}</a>
                        </li>
                        <li class="page-item pointer" [ngClass]="state.appData.data.page.totalPages - 1 == (currentPage$ | async) ? 'disabled' : '' ">
                          <a (click)="goToNextOrPreviousPage('forward', searchForm.value.comment)" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Volgende</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-graphs" role="tabpanel" aria-labelledby="nav-graphs-tab">
                <p>Hier komt de grafiek</p>
              </div>
            </div>
          </div>
        </ng-container>

      </ng-container>
    </div>
  </div>
</ng-container>
