<ng-container>
  <div class="graph-panel-heading">
    <div class="row">
      <div class="col-12">
        <div class="card-title text-center">
          <h3>Grafieken</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-6">
        <div class="chart-container">
          <div class="chart-panel-heading">
            <div class="card-title text-center">
              <h3>Vaste kosten</h3>
            </div>
          </div>
          <canvas id="pieChartFixedOutgoingBudget">{{ fixedOutgoingBudgetPieChart }}</canvas>
        </div>
      </div>
      <div class="col-6">
        <div class="chart-container">
          <div class="chart-panel-heading">
            <div class="card-title text-center">
              <h3>Andere kosten</h3>
            </div>
          </div>
          <canvas id="pieChartOutgoingBudget">{{ outgoingBudgetPieChart }}</canvas>
        </div>
      </div>
    </div>
  </div>
</ng-container>
