<ng-container *ngIf="(commentsState$ | async) as state" [ngSwitch]="state.appState">
  <div class="card my-2">
    <ng-container *ngSwitchCase="'APP_ERROR'">
      <div class="errorPanel">
        <div class="alert alert-danger " role="alert">
          <span>{{ state.error|json }}</span>
        </div>
      </div>
    </ng-container>

    <div class="customPanel">
      <div class="panel-heading">
        <div class="row">
          <div class="col-6">
            <div class="card-title text-center">
              <h3>Overzicht commentaren</h3>
            </div>
          </div>
          <div class="col-4">
            <form #searchForm="ngForm" (ngSubmit)="goToPage(searchForm.value.searchterm)" class="d-flex" role="search">
              <input
                class="form-control me2"
                type="search"
                name="searchterm"
                ngModel
                placeholder="zoekterm"
                aria-label="search/">
              <button class="btn" type="submit">Zoeken</button>
            </form>
          </div>
          <div class="col-2">
            <div class="card-button">
              <a (click)="createComment()" class="btn"><i class="fa fa-plus-circle"></i> Toevoegen</a>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngSwitchCase="'APP_LOADING'">
        <div class="d-flex justify-content-center mt-4 mb-4">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading ...</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'APP_LOADED'">
        <div class="panel-body table-responsive">
          <table class="customTable table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Zoekterm</th>
                <th>Commentaar</th>
                <th>Categorie</th>
                <th><i class="fa fa-pencil"></i></th>
                <th><i class="fa fa-trash"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comment of state.appData.data.page.content">
                <td>{{ comment.id }}</td>
                <td>{{ comment.searchterm }}</td>
                <td>{{ comment.replacement }}</td>
                <td>{{ comment.category.label }}</td>
                <td>
                  <a (click)="editComment(comment)"><i class="fa fa-pencil"></i></a>
                </td>
                <td>
                  <a (click)="deleteComment(comment.id)"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row" id="pagination">
            <div class="col-sm-6 pagination-left">
              toon <b>10</b> van de <b>{{ state.appData.data.page.totalElements }}</b> items
            </div>
            <div class="col-sm-6 pagination-right">
              <ul class="pagination">
                <li class="page-item pointer" [ngClass]="0 == (currentPage$ | async) ? 'disabled' : '' ">
                  <a (click)="goToNextOrPreviousPage('backward', searchForm.value.searchterm)" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Vorige</span>
                  </a>
                </li>
                <li *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages) let i = index"
                    class="page-item pointer" [ngClass]="i == (currentPage$ | async) ? 'active' : '' ">
                  <a (click)="goToPage(searchForm.value.searchterm, i)" class="page-link"> {{ i + 1 }}</a>
                </li>
                <li class="page-item pointer" [ngClass]="state.appData.data.page.totalPages - 1 == (currentPage$ | async) ? 'disabled' : '' ">
                  <a (click)="goToNextOrPreviousPage('forward', searchForm.value.searchterm)" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Volgende</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
