.budget-card {
  border-left: 8px solid #7d97a5;
  background-color: #f1f4f5;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
  width:30%;
}

.budget-card:hover {
  cursor: pointer;
  background-color: #c3cfd5;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.budgetOverview-label {
  color: #303e45;
  font-size: 14px;
  font-weight: bold;
}

.budgetOverview-amount {
  font-size: 12px;
  color: #555555;
}
