<div class="customPanel">
  <div class="panel-heading">
    <div class="row">
      <div class="col-6">
        <div class="card-title text-center">
          <h3>Overzicht transacties per categorie</h3>
        </div>
      </div>
      <div class="col-6">
        <form #searchForm="ngForm" (ngSubmit)="submit(searchForm.value.category, searchForm.value.year)" class="d-flex" role="search">
          <select
            class="form-select"
            name="category"
            ngModel
            aria-label="search/">
            <option value="" disabled selected>kies een categorie</option>
            <option *ngFor="let cat of categories"
                    [ngValue]="cat.id">{{ cat.label }}</option>
          </select>
          <select
            class="form-select"
            name="year"
            ngModel
            aria-label="search/">
            <option value="" selected>Alle jaren</option>
            <option *ngFor="let year of years"
                    [ngValue]="year.value">{{ year.year }}</option>
          </select>
          <button class="btn" type="submit">Zoeken</button>
        </form>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <app-overview [budgetOverview] = budgetOverview></app-overview>
  </div>
</div>
