<div class="customPanel">
  <div class="panel-heading">
    <div class="row">
      <div class="col-6">
        <div class="card-title text-center">
          <h3>Overzicht transacties per categorie</h3>
        </div>
      </div>
      <div class="col-6">
        <form [formGroup]="searchForm" (ngSubmit)="submit()" style="display: flex">
          <div class="form-group col-5">
            <select
              class="form-select"
              formControlName="category"
              id="category">
              <option value="" disabled selected>kies een categorie</option>
              <option *ngFor="let cat of categories"
                      [ngValue]="cat.id">{{ cat.label }}</option>
            </select>
          </div>
          <div class="col-5">
            <app-select-year formControlName="year"> </app-select-year>
          </div>
          <button class="btn" type="submit">Zoeken</button>
        </form>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <app-overview [budgetOverview] = budgetOverview></app-overview>
  </div>
</div>
