.project-card {
  border-left: 8px solid #7d97a5;
  background-color: #f1f4f5;
  margin: 10px;
  cursor: pointer;
  float: left;
  width: 31%;
  padding: 10px;
  height: 150px;
}

.project-card:hover {
  cursor: pointer;
  background-color: #c3cfd5;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.projectOverview-label {
  color: #303e45;
  font-size: 14px;
  font-weight: bold;
}

.projectOverview-description {
  font-size: 12px;
  color: #555555;
  padding: 5px 0 0 5px;
}

.projectOverview-icon {
  font-size: 35px;
  color: #7d97a5;
}
