.import-modal-header {
  color: #fff;
  background: #7d97a5;
  font-size: 16px;
  line-height: 33px;
  height: 70px;
  padding-left: 15px;
  border-radius: 5px 5px 0 0;
}
.import-modal-body {
  padding: 25px 15px 25px 15px;
  border-left: 5px solid #7d97a5;
  border-right: 5px solid #7d97a5;
}
.import-modal-footer {
  height: 55px;
  color: #fff;
  background: #7d97a5;
  font-size: 16px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
.import-modal-footer .btn {
  color: #ccc;
  background-color: #3a4b53;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  float: right;
}
